<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artistas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- incluyo bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img class="logo img-size" src="/static/images/LOLLA.jpg" alt="Logo">
                Crea tu propio Lolla!
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Agrega tu artista</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sponsors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Fechas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Artistas dia {{ id_dia }}</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- row g-4 le da un poco mas de separacion entre el nombre y la imagen -->
        <div class="row g-4" id="artistas">
            <!-- Aquí se generarán dinámicamente las tarjetas de los artistas -->
        </div>
    </div>

    <section class="container my-5 bg-dark w-50 text-light py-3 mx-auto">

        <form class="row g-3" id="formCrearArtista">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" required>
            </div>
            <div class="col-md-6">
                <label for="genero" class="form-label">Género</label>
                <select id="genero" class="form-select" required>
                    <option selected>Pop</option>
                    <option>Rock</option>
                    <option>Electrónica</option>
                    <option>Trap</option>
                    <option>Otros</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="nacionalidad" class="form-label">Nacionalidad</label>
                <input type="text" class="form-control" id="nacionalidad" required>
            </div>
            <div class="col-md-6">
                <label for="banda" class="form-label">Banda o Solista</label>
                <select id="banda" class="form-select">
                    <option selected>Banda</option>
                    <option>Solista</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputDay" class="form-label">Día</label>
                <select id="inputDay" class="form-select" name="dia">
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputStage" class="form-label">Stage</label>
                <select id="inputStage" class="form-select" name="escenario">
                    <option selected>Linux</option>
                    <option>Android</option>
                    <option>macOS</option>
                    <option>Windows</option>
                </select>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Crear artista</button>
            </div>
        </form>

    </section>


    <!-- incluyo boostrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-RHt8U+fhU1ep5IxTT4hNJYxfjFHZGaF0LOiChkzR2e2CkIFnST1nhfoDY1YsFdpE"
        crossorigin="anonymous"></script>
        <script>
            // JavaScript para generar dinámicamente las tarjetas de los artistas
            const lista_artistas = {{ artistas | tojson }};
        
            function parse_data(lista_artistas) {
                const container_artistas = document.getElementById("artistas");
                for (let index = 0; index < lista_artistas.length; index++) {
                    const item = document.createElement("div");
                    item.className = "col-md-4";
        
                    const card = document.createElement("div");
                    card.className = "card";
        
                    const img = document.createElement("img");
                    img.src = `data:image/jpeg;base64,${lista_artistas[index].imagen}`;
                    img.className = "card-img-top";
                    img.alt = lista_artistas[index].nombre;
        
                    const cardBody = document.createElement("div");
                    cardBody.className = "card-body";
        
                    const cardTitle = document.createElement("h5");
                    cardTitle.className = "card-title";
                    cardTitle.textContent = lista_artistas[index].nombre;
        
                    const cardText = document.createElement("p");
                    cardText.className = "card-text";
        
                    const link = document.createElement("a");
                    link.href = `/artista/${lista_artistas[index].id}`;
                    link.className = "btn btn-outline-light";
                    link.textContent = "Ver detalles";
        
                    cardBody.appendChild(cardTitle);
                    cardBody.appendChild(cardText);
                    cardBody.appendChild(link);
                    card.appendChild(img);
                    card.appendChild(cardBody);
        
                    item.appendChild(card);
                    container_artistas.appendChild(item);
                }
            }
        
            // Llama a la función para generar las tarjetas
            parse_data(lista_artistas);
        </script>

    <img class="bg-image" src="{{ url_for('static', filename='images/BG-LOLLA.png') }}" alt="Bg image">

</body>

</html>
